@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600';

@navWidth: 326px;

@valueColour: rgb(120, 120, 120);

@highlightColour: rgb(247, 148, 29);
@secondaryColour: rgb(0, 200, 0);

@mainBackgroundColour: rgb(235, 240, 220);

@fontFamily: 'Open Sans', Arial, sans-serif;
@fontSize: 14px;

@borderRadius: 7px;

@part1Colour: darken(@highlightColour, 15%);
@part2Colour: lighten(@highlightColour, 20%);

@menuColour: rgb(200, 210, 190);

@selectedColour: @menuColour;
@hoverColour: lighten(@menuColour, 15);


@bodyMargin: 15px;

body {
  background: @mainBackgroundColour;
  margin: 0;
  padding: @bodyMargin;

  font-family: @fontFamily;
  font-size: @fontSize;
}

header {
  display: block;
  width: @navWidth - @bodyMargin;
  position: fixed;

  box-sizing: border-box;

  left: @bodyMargin;
  top: @bodyMargin;
}

footer {
  font-size: 12px;

  opacity: .75;

  left: @bodyMargin;
  bottom: @bodyMargin;  

  width: @navWidth - @bodyMargin;
  position: fixed;
}
footer > a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}
footer > #cfa {
  width: 48px;
  vertical-align: middle;

  position: relative;
  top: -1px;
  margin-right: -5px;
}

#logo {
  width: 276px;
  max-width: 100%;
  margin: 5px auto;
  margin-bottom: 10px;
  display: block;
}
nav {
  background: white;
  border-radius: @borderRadius;
  border: 1px solid transparent; // Prevents margin collapsing 
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
nav ul:first-child {
  margin-top: 10px;
}
nav ul:last-child {
  margin-bottom: 10px;
}

nav button {
  appearance: none;
  -webkit-appearance: none;

  text-align: left;

  background: transparent;
  padding: 0 20px;
  width: 100%;
  margin: 0;
  border: 0;
  line-height: 1.8;

  cursor: pointer;

  font-family: @fontFamily;
  font-size: 14px;
  white-space: nowrap;
}
nav button:hover {
  background: @hoverColour;
}
nav button.selected {
  background: @selectedColour;
}
nav button:disabled {
  color: black;
  opacity: .25;
}



#chart {
  margin-left: @navWidth;

  background: white;
  padding: 10px;
  padding-top: 0;
  border-radius: @borderRadius;
}
#chart svg {
  width: 100%;
  box-sizing: border-box;

  font-family: @fontFamily;
  font-size: 14px;
}
#chart .rect {
}
#chart .rect[part='part1'] {
  fill: @part1Colour;
}
#chart .rect[part='part2'] {
  fill: @part2Colour;
}
#chart .label {
  fill: black;
}
#chart .label[part='part1'],
#chart .value[part='part1'] {
  font-weight: 600;
}
#chart .label[part='part2'],
#chart .value[part='part2'] {
  font-weight: 400;
}
#chart .value {
  fill: @valueColour;
  font-weight: 400;
}

#chart .tick {
  stroke: rgb(200, 200, 200);
  stroke-width: .5px;
}

#chart .pie[part='part1'] {
  fill: @part1Colour;
}
#chart .pie[part='part2'] {
  fill: @part2Colour;
}
#chart .pielabel[part='part1'] {
  font-weight: 600;  
}

#chart .header {
  font-weight: 600;
  font-size: 22px;
  text-anchor: middle;
  fill: black;
}