@navWidth: 200px;

@valueColour: rgb(120, 120, 120);

@highlightColour: rgb(247, 148, 29);
@secondaryColour: rgb(0, 200, 0);


nav {
  display: block;
  width: @navWidth;
  position: fixed;
}
nav .selected {
  font-weight: bold;
}

#chart {
  margin-left: @navWidth;
}
#chart svg {
  width: 100%;
}
#chart svg .rect {
  stroke: white;
}
#chart svg .rect[part='part1'] {
  fill: darken(@highlightColour, 10%);
}
#chart svg .rect[part='part2'] {
  fill: darken(@secondaryColour, 10%);
}
#chart svg .label {
  font-family: Arial;
  font-size: 12px;
  fill: black;
}
#chart svg .value {
  font-family: Arial;
  font-size: 12px;
  fill: @valueColour;
}