@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600';

@headerHeight: 150px;
@footerHeight: 30px;

@bodyMargin: 15px;

@navWidth: 400px;
@navLeftPadding: 5px;
@navPadding: 10px;
@navValueWidth: 80px;
@navLevelPadding: 15px;

@chartWidth: 50px;

@highlightColour: rgb(247, 148, 29);
@secondaryColour: rgb(0, 200, 0);

@chartColour: darken(@secondaryColour, 10);

@selectedFilterColour: lighten(@highlightColour, 30);
@hoverFilterColour: lighten(@highlightColour, 40);

//@mainBackgroundColour: lighten(@highlightColour, 42);
@mainBackgroundColour: rgb(245, 250, 220);

@dataTransitionDelay: 150ms;

body {
  background: @mainBackgroundColour;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body > header {
  position: absolute;

  left: @bodyMargin;
  right: @navWidth + @bodyMargin + @bodyMargin;

  top: 0;
  height: @headerHeight;

  text-align: center;
}

body > footer {
  font-size: 12px;

  opacity: .75;

  z-index: 1000;

  position: absolute;

  left: @bodyMargin;
  right: @navWidth + @bodyMargin + @bodyMargin;

  bottom: 0;
  height: @footerHeight;

  text-align: center;
}
body > footer > a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}


body > footer #cfa {
  width: 48px;
  vertical-align: middle;

  position: relative;
  top: -1px;
  margin-right: -5px;
}

body > header #logo {
  margin-top: 20px;
  width: 740px;
  max-width: 100%;
}

body > header > h3 {
  font-weight: 600;
}

body > nav {
  width: @navWidth;
  background: white;

  position: absolute;
  top: @bodyMargin;
  bottom: @bodyMargin;
  right: @bodyMargin;

  overflow-x: hidden;
  overflow-y: visible;
}

body > nav > ul {
  padding: 0;
  margin: 0;

  margin-bottom: 25px;
}

body > nav > ul > li {
  list-style: none;
  margin: 0;

  padding: 0 @navPadding;
  line-height: 25px;
  cursor: pointer;

  color: rgb(128, 128, 128);

  position: relative;
  height: 25px;

  border-top: 1px solid rgb(230, 230, 230);
}
body > nav > ul > li:hover {
  background: @hoverFilterColour;
}

body > nav > ul > li > .name {
  position: absolute;
  display: block;
  text-align: left;
  top: 0;
  right: @navValueWidth + @navPadding;
}
body > nav > ul > li[level="0"] {
  font-weight: 600;
}
body > nav > ul > li[level="0"] > .name {
  left: @navLeftPadding + @navPadding;
}
body > nav > ul > li[level="1"] {
  font-weight: 400;
}
body > nav > ul[filterNumber="0"] > li[level="1"] {
  //border-top: 1px solid rgb(180, 180, 180);
}
body > nav > ul > li[level="1"] > .name {
  left: @navLeftPadding + @navPadding + @navLevelPadding;
}
body > nav > ul[filterNumber="1"] > li[level="1"],
body > nav > ul[filterNumber="0"] > li[level="2"] {
  font-weight: 300;
}
body > nav > ul[filterNumber="1"] > li[level="1"] > .name,
body > nav > ul[filterNumber="0"] > li[level="2"] > .name {
  left: @navLeftPadding + @navPadding + @navLevelPadding * 2;
}
body > nav > ul > li.selected {
  background: @selectedFilterColour;
}
body > nav > ul > li.active {
  color: black;
}


body > nav > ul > li > .value {
  position: absolute;
  display: block;
  width: @navValueWidth;
  text-align: right;
  top: 0;
  right: @navPadding * 3 + @chartWidth;
}

body > nav > ul > li > .chart {
  position: absolute;
  display: block;
  width: @chartWidth;
  background: @chartColour;
  top: 11px;
  bottom: 11px;
  left: @navWidth - @chartWidth - @navPadding * 3;
  overflow: hidden;
  opacity: .6;

  -webkit-transition: width @dataTransitionDelay;
}
body > nav > ul > li.active > .chart {
  opacity: 1;
}

.zero {
  color: rgb(128, 128, 128);
}

#map {
  position: absolute;
  left: @bodyMargin;
  right: @navWidth + @bodyMargin + @bodyMargin;
  top: @headerHeight;
  bottom: @bodyMargin;
}
#map > .neighborhood {
  width: 50px;
  height: 50px;
  background: red;
  float: left;
}

#map svg {
//  outline: 1px solid blue;
}

/* Map */

#map .state {
  stroke: white;
  stroke-width: .5;
  stroke-linejoin: round;

  cursor: pointer;
}
#map .state:hover {
  stroke-width: 3;
}

@heatMapColour1: rgb(0, 70, 0);
@heatMapColour2: rgb(180, 180, 0);
@heatMapColour3: rgb(180, 40, 40);

@heatMapRealColour0: mix(@heatMapColour1, @heatMapColour2, 100%);
@heatMapRealColour1: mix(@heatMapColour1, @heatMapColour2, 75%);
@heatMapRealColour2: mix(@heatMapColour1, @heatMapColour2, 50%);
@heatMapRealColour3: mix(@heatMapColour1, @heatMapColour2, 25%);
@heatMapRealColour4: mix(@heatMapColour2, @heatMapColour3, 100%);
@heatMapRealColour5: mix(@heatMapColour2, @heatMapColour3, 75%);
@heatMapRealColour6: mix(@heatMapColour2, @heatMapColour3, 50%);
@heatMapRealColour7: mix(@heatMapColour2, @heatMapColour3, 25%);
@heatMapRealColour8: mix(@heatMapColour2, @heatMapColour3, 0%);

#map .q0 { fill: @heatMapRealColour0; }
#map .q1 { fill: @heatMapRealColour1; }
#map .q2 { fill: @heatMapRealColour2; }
#map .q3 { fill: @heatMapRealColour3; }
#map .q4 { fill: @heatMapRealColour4; }
#map .q5 { fill: @heatMapRealColour5; }
#map .q6 { fill: @heatMapRealColour6; }
#map .q7 { fill: @heatMapRealColour7; }
#map .q8 { fill: @heatMapRealColour8; }

#legend .q0 { background: @heatMapRealColour0; }
#legend .q1 { background: @heatMapRealColour1; }
#legend .q2 { background: @heatMapRealColour2; }
#legend .q3 { background: @heatMapRealColour3; }
#legend .q4 { background: @heatMapRealColour4; }
#legend .q5 { background: @heatMapRealColour5; }
#legend .q6 { background: @heatMapRealColour6; }
#legend .q7 { background: @heatMapRealColour7; }
#legend .q8 { background: @heatMapRealColour8; }

#legend {
  margin-top: 15px;
  font-weight: 300;
  line-height: 1.2;
} 
#legend * {
  vertical-align: middle;  
}

#legend div {
  box-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
  display: inline-block;

  width: 30px;
  height: 8px;
  margin-top: -3px;
}
