@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600';

@headerHeight: 150px;
@footerHeight: 20px;

@bodyMargin: 15px;

@sidebarWidth: 400px;
@sidebarLeftPadding: 5px;
@sidebarPadding: 10px;
@sidebarValueWidth: 80px;
@sidebarLevelPadding: 15px;

@chartWidth: 50px;

@highlightColour: rgb(247, 148, 29);
@secondaryColour: rgb(0, 200, 0);

@menuColour: rgb(200, 210, 190);

@selectedFilterColour: @menuColour;
@hoverFilterColour: lighten(@menuColour, 15);

@chartColour: rgb(120, 120, 120);

@mainBackgroundColour: rgb(235, 240, 220);

@dataTransitionDelay: 400ms;

@borderRadius: 7px;

@heatMapColour1: rgb(0, 70, 0);
@heatMapColour2: rgb(180, 180, 0);
@heatMapColour3: rgb(180, 40, 40);

@heatMapRealColour0: mix(@heatMapColour1, @heatMapColour2, 100%);
@heatMapRealColour1: mix(@heatMapColour1, @heatMapColour2, 75%);
@heatMapRealColour2: mix(@heatMapColour1, @heatMapColour2, 50%);
@heatMapRealColour3: mix(@heatMapColour1, @heatMapColour2, 25%);
@heatMapRealColour4: mix(@heatMapColour2, @heatMapColour3, 100%);
@heatMapRealColour5: mix(@heatMapColour2, @heatMapColour3, 75%);
@heatMapRealColour6: mix(@heatMapColour2, @heatMapColour3, 50%);
@heatMapRealColour7: mix(@heatMapColour2, @heatMapColour3, 25%);
@heatMapRealColour8: mix(@heatMapColour2, @heatMapColour3, 0%);

@fontFamily: 'Open Sans', Arial, Helvetica, sans-serif;
@fontSize: 14px;

body {
  background: @mainBackgroundColour;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: @fontFamily;
  font-size: @fontSize;
}

body > header {
  position: absolute;

  left: @bodyMargin;
  right: @bodyMargin;

  top: 0;
  height: @headerHeight;

  text-align: center;
}

body > footer {
  font-size: 12px;

  opacity: .75;

  z-index: 1000;

  position: absolute;

  left: @bodyMargin;
  right: @bodyMargin;

  bottom: 0;
  line-height: @footerHeight + @bodyMargin;
  height: @footerHeight + @bodyMargin;

  text-align: center;
}
body > footer > a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}
body > footer #cfa {
  width: 48px;
  vertical-align: middle;

  position: relative;
  top: -1px;
  margin-right: -5px;
}

body > header #logo {
  margin-top: 20px;
  width: 740px;
  max-width: 100%;
  margin-bottom: -10px;
}

body > header > h3 {
  font-weight: 600;
}

body > nav.tabs {
  position: absolute;
  left: 30px;
  top: 73px;
  height: 30px;
}
body > nav.tabs > div {
  cursor: pointer;

  display: inline-block;
  line-height: 30px;
  padding: 0 15px;
  padding-bottom: 5px;
  background: white;
  position: relative;

  border-radius: 5px 5px 0 0;

  -webkit-transition: background 150ms, top 150ms;
}
body > nav.tabs > div:hover {
  top: -1px;
  background: mix(@highlightColour, white, 50%);
}

body[tab='view'] > nav.tabs > [name='view'],
body[tab='subscribe'] > nav.tabs > [name='subscribe'] {
  background: @highlightColour;

  top: -3px;
}

body > nav.sidebar {
  width: @sidebarWidth;
  background: white;

  position: absolute;
  top: @headerHeight - 50;
  bottom: @bodyMargin + @footerHeight;
  right: @bodyMargin;

  overflow-x: hidden;
  overflow-y: visible;

  border-radius: @borderRadius;
}

body > nav.sidebar > section {
  //display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body *[tab] {
  display: none;
}

body[tab='view'] [tab='view'],
body[tab='subscribe'] [tab='subscribe'] {
  display: block;
}

body > nav.sidebar .list {
  padding: 0;
  margin: 0;
}
body > nav.sidebar .list:not(:last-child) {
  margin-bottom: 25px;
}

body > nav.sidebar ul.list > li {
  list-style: none;  
}
body > nav.sidebar .list > li {
  margin: 0;

  padding: 0 @sidebarPadding;
  line-height: 25px;
  cursor: pointer;

  color: rgb(128, 128, 128);

  position: relative;
  height: 25px;

  border-top: 1px solid rgb(230, 230, 230);
}
body > nav.sidebar .list > li:hover {
  background: @hoverFilterColour;
}

body > nav.sidebar .list > li > .name {
  position: absolute;
  display: block;
  text-align: left;
  top: 0;
  right: @sidebarValueWidth + @sidebarPadding;
}
body > nav.sidebar .list > li[level="0"] {
  font-weight: 600;
}
body > nav.sidebar .list > li[level="0"] > .name {
  left: @sidebarLeftPadding + @sidebarPadding;
}
body > nav.sidebar .list > li[level="1"] {
  font-weight: 400;
}
body > nav.sidebar .list[filterNumber="0"] > li[level="1"] {
  //border-top: 1px solid rgb(180, 180, 180);
}
body > nav.sidebar .list > li[level="1"] > .name {
  left: @sidebarLeftPadding + @sidebarPadding + @sidebarLevelPadding;
}
body > nav.sidebar .list[filterNumber="1"] > li[level="1"],
body > nav.sidebar .list[filterNumber="0"] > li[level="2"] {
  font-weight: 300;
}
body > nav.sidebar .list[filterNumber="1"] > li[level="1"] > .name,
body > nav.sidebar .list[filterNumber="0"] > li[level="2"] > .name {
  left: @sidebarLeftPadding + @sidebarPadding + @sidebarLevelPadding * 2;
}
body > nav.sidebar .list > li.selected {
  background: @selectedFilterColour;
}
body > nav.sidebar .list > li.active {
  color: black;
}

body > nav.sidebar ol {
  counter-reset: neighborhood;
}
body > nav.sidebar ol > li[level="1"]::before {
  counter-increment: neighborhood;
  content: counter(neighborhood) '.';
  text-align: right;
  width: @sidebarLevelPadding * 2 - 2px;
  display: inline-block;
  font-size: 80%;
}

body > nav.sidebar .list > li > .value {
  position: absolute;
  display: block;
  width: @sidebarValueWidth;
  text-align: right;
  top: 0;
  left: @sidebarWidth - @chartWidth - @sidebarPadding * 4 - @sidebarValueWidth;
}

body > nav.sidebar .list > li > .chart {
  position: absolute;
  display: block;
  width: @chartWidth;
  background: @chartColour;
  top: 11px;
  bottom: 11px;
  left: @sidebarWidth - @chartWidth - @sidebarPadding * 3;
  overflow: hidden;
  opacity: .6;

  -webkit-transition: width @dataTransitionDelay;
}
body > nav.sidebar .list > li.active > .chart {
  opacity: 1;
}

body > nav.sidebar > [tab='subscribe'] .instructions {
  display: block;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 115px;
  background: @highlightColour;
  padding: 0 30px;
  z-index: 100;
}
body > nav.sidebar > [tab='subscribe'] .instructions * {
  font-family: @fontFamily;
  font-size: @fontSize;
}

body > nav.sidebar > [tab='subscribe'] .subscriptions {
  display: block;
  z-index: 80;
  position: absolute;
  top: 115px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.zero {
  color: rgb(128, 128, 128);
}

#map {
  border-radius: @borderRadius;

  position: absolute;
  left: @bodyMargin;
  right: @sidebarWidth + @bodyMargin + @bodyMargin;
  top: @headerHeight - 50;
  bottom: @bodyMargin + @footerHeight;

  overflow: hidden;  
}
#svg-container {
  z-index: 50;
  position: absolute;
  top: 80px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
#svg-container svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
body[mode='heatmap-3d'] #svg-container {
  display: none;
}


#heatmap-container {
  z-index: 60;
  position: absolute;
  top: 80px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  //outline: 1px solid red;
}
body[mode='heatmap-3d'] #heatmap-container {
  display: none;
}

#map-checkbox-overlay {
  z-index: 1000;

  position: absolute;

  top: 80px;
  bottom: 20px;
  left: 20px;
  right: 20px;

  display: none;
}
#map-checkbox-overlay input {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  cursor: pointer;
}
body[tab="subscribe"] #map-checkbox-overlay {
  display: block;
}

#temp-texture-container {
  /*left: 35px;
  top: 180px;
  width: 256px;
  height: 256px;
  opacity: .8;*/
  right: 0;
  top: 0;
  width: 256px;
  height: 256px;

  position: absolute;
  z-index: 1000;
  background: black;

  display: none;
}
#temp-texture-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


#heatmap-3d-container {
  z-index: 1000;
  position: absolute;
/*  left: 400px;
  bottom: 20px;
  width: 600px;
  height: 400px;*/

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  background: black;
}
#heatmap-3d-container canvas {
}

#google-maps-overlay {
  pointer-events: none;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  -webkit-filter: ~"sepia(100%) saturate(20%)";
}
#google-maps-overlay img {
  position: absolute;
}
body[mode='heatmap-3d'] #google-maps-overlay {
  display: none;
}


/* Map */

#map .neighborhood {
  stroke: white;
  stroke-width: .5;
  stroke-linejoin: round;

  cursor: pointer;

  -webkit-transition: fill @dataTransitionDelay;

  &:hover {
    stroke-width: 3;
  }
  &.hollow {
    stroke-width: 2;
    stroke: black;
    fill: transparent;
  }
  &.unsubscribed {
    stroke-width: 1;
    stroke: black;
    fill: rgba(0, 0, 0, .5);
  }
  &.subscribed {
    stroke-width: 1;
    stroke: black;
    fill: fadeout(@selectedFilterColour, 20);
  }
}

#map .q0 { fill: @heatMapRealColour0; }
#map .q1 { fill: @heatMapRealColour1; }
#map .q2 { fill: @heatMapRealColour2; }
#map .q3 { fill: @heatMapRealColour3; }
#map .q4 { fill: @heatMapRealColour4; }
#map .q5 { fill: @heatMapRealColour5; }
#map .q6 { fill: @heatMapRealColour6; }
#map .q7 { fill: @heatMapRealColour7; }
#map .q8 { fill: @heatMapRealColour8; }

#legend .q0, body > nav.sidebar .list > li > .chart.q0 { background: @heatMapRealColour0; }
#legend .q1, body > nav.sidebar .list > li > .chart.q1 { background: @heatMapRealColour1; }
#legend .q2, body > nav.sidebar .list > li > .chart.q2 { background: @heatMapRealColour2; }
#legend .q3, body > nav.sidebar .list > li > .chart.q3 { background: @heatMapRealColour3; }
#legend .q4, body > nav.sidebar .list > li > .chart.q4 { background: @heatMapRealColour4; }
#legend .q5, body > nav.sidebar .list > li > .chart.q5 { background: @heatMapRealColour5; }
#legend .q6, body > nav.sidebar .list > li > .chart.q6 { background: @heatMapRealColour6; }
#legend .q7, body > nav.sidebar .list > li > .chart.q7 { background: @heatMapRealColour7; }
#legend .q8, body > nav.sidebar .list > li > .chart.q8 { background: @heatMapRealColour8; }

#legend {
  position: absolute;
  left: 0;
  top: 15px;
  right: 0;
  z-index: 1000;
  text-align: center;

  color: white;
  text-shadow: 0 0 4px black,
               0 0 4px black, 
               0 0 4px black, 
               0 0 4px black, 
               0 0 2px black,
               0 0 2px black,
               0 0 1px black,
               0 0 1px black;

  font-weight: 400;
  line-height: 1.2;
} 
#legend * {
  vertical-align: middle;  
}

#legend div {
  box-shadow: 0 0 1px white, 
              0 0 2px white, 
              0 0 2px white;
  display: inline-block;

  width: 30px;
  height: 8px;
  margin-top: -3px;
}

#legend-graph {
  position: relative;
  margin: 0 5px;
}

#legend-hover {
  position: absolute;
  left: 0;
  top: 30px;
  text-align: center;
  width: 200px;
  margin-left: -100px;
  display: none;
  
  &.visible {
    display: block;
  }

  &::before {
    position: absolute;
    left: 100px;
    right: 0;
    border-left: 1px solid white;
    height: 20px;
    top: -30px;
    content: '';
    display: block;
    text-align: center;
    width: 0;
  }
}
#legend-hover .name {
  display: block;
}
#legend-hover .value {
  display: block;
}

body:not([mode='heatmap-3d']) {
  #temp-texture-container,
  #heatmap-3d-container {
    display: none;
  }
}

body[mode='heatmap'] #legend,
body[mode='heatmap-3d'] #legend,
body[tab='subscribe'] #legend {
  display: none;
}


